body {
    overflow: hidden;
    min-height: 400px;
    min-width: 500px;
}  

#sendSerialMessage {
    position: absolute;
    bottom: 0px;
    border-radius: 0px;
    border: none;
    border-top: 2px solid #bdc3c7;
    left: 0;
    right: 0;
  }

#wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0 0 85px 0;
}

#serialMonitorOutput {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px 20px;
    font-family: Courier, monospace;
    font-size: 13px;
    line-height: 25px;
}

#serialMonitorView {
    display: block;
    height: 100%;
    overflow: hidden;
    position:relative;
}


#controlPanel .btn {
      padding: 5px 10px;
      margin: 5px 10px;
}

#controlPanel {
    background: #eee;
    width: 100%;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}

.checkbox input[type="checkbox"].custom-checkbox:checked + .icons .icon-checked, .radio input[type="checkbox"].custom-checkbox:checked + .icons .icon-checked, .checkbox input[type="radio"].custom-radio:checked + .icons .icon-checked, .radio input[type="radio"].custom-radio:checked + .icons .icon-checked {
    color: #888;
}

#autoscrollCheckbox {
    display: inline-block;
    position: absolute;
    margin-left: 10px;
    margin-top: 12px;
}

span.incoming {
    color: #999;
}

span.outgoing {
    font-weight:700;
}

#positionPanel {
    padding: 20px 30px;
    width: 300px;
    height: 100%;
    background-color: red;
    border-left: 2px solid #bdc3c7;
    background-color: #fdfdfd;
    display: inline-block;
    font-size: 30px;
}
#positionPanel .btn-block {
    margin-bottom: 15px;
}

#positionDataError{
    font-size: 19px;
    text-align: center;
    padding-top: 20px;
}

.positionVal {
    color: #7777FF;
    font-size: 30px;
    padding-left: 5px;
}

#machineStatus {
    font-size: 18px;
}
