Parent/Child Tree:<br/><br/>
<% var treeLevel = 0; %>
<% _.each(tree, function(level, id){ %>
    <% var component = components[id] || stock[id]; %>
    <% treeLevel++; %>
    <div class="alternatingColorList<% if (treeLevel%2 == 0){ %> evenListItem <% } %>">
        <label style="padding-left:<%= level*10 + 20 %>px"><%= component.name %>
        <a data-id="<%= id %>" class="editMachineComponent pull-right" href="#">Edit</a></label>
    </div><br/>
<% }); %><br/>
<a href="#" id="newMachineComponent" class=" btn halfWidth btn-lg btn-default">+ Component</a>
<a href="#" id="addStock" class=" btn halfWidth btn-lg btn-default pull-right">+ Stock</a><br/><br/>
Offset (xyz):&nbsp;&nbsp;
    <input data-property="translation" data-key="x" value="<%= translation.x %>" placeholder="X" class="form-control floatInput assembler" type="text">&nbsp;
    <input data-property="translation" data-key="y" value="<%= translation.y %>" placeholder="Y" class="form-control floatInput assembler" type="text">&nbsp;
    <input data-property="translation" data-key="z" value="<%= translation.z %>" placeholder="Z" class="form-control floatInput assembler" type="text"><br/><br/>
Rotation (xyz):&nbsp;&nbsp;
    <input data-property="rotation" data-key="x" value="<%= rotation.x %>" placeholder="X" class="form-control floatInput assembler" type="text">&nbsp;
    <input data-property="rotation" data-key="y" value="<%= rotation.y %>" placeholder="Y" class="form-control floatInput assembler" type="text">&nbsp;
    <input data-property="rotation" data-key="z" value="<%= rotation.z %>" placeholder="Z" class="form-control floatInput assembler" type="text"><br/><br/>

Scale: &nbsp;&nbsp;<input data-property="scale" value="<%= scale %>" placeholder="Scale" class="form-control floatInput assembler" type="text"><br/><br/>
Edit Code:<br/><br/>
<% var treeLevel = 0;
_.each(customFns, function(description, key){ %>
    <% treeLevel++; %>
    <div class="alternatingColorList<% if (treeLevel%2 == 0){ %> evenListItem <% } %>">
        <label><%= description %>  <a class="editMachineCode pull-right" data-name="<%= key %>" href="#">Edit</a></label>
    </div><br/>
<% }); %><br/>
<!--Pick up stock <a class="editMachineCode" data-name="customHeader" href="#">Edit</a><br/>-->
<a href="#" id="saveMachineConfig" class=" btn btn-block btn-lg btn-success">Save Machine Config</a><br/>
