Machine: &nbsp;&nbsp;
    <div class="btn-group">
        <button data-toggle="dropdown" class="btn dropdown-toggle" type="button"><%= allMachines[machineName].name %><span class="caret"></span></button>
        <ul role="menu" class="dropdown-menu">
            <% _.each(machineTypesForLattice[cellType][connectionType], function(machine){ %>
                <li><a class="assembler dropdownSelector" data-property="machineName" data-value="<%= machine %>" href="#"><%= allMachines[machine].name %></a></li>
            <% }); %>
        </ul>
    </div><br/><br/>
Strategy: &nbsp;&nbsp;
    <div class="btn-group">
        <button data-toggle="dropdown" class="btn dropdown-toggle" type="button"><%= allAssemblyStrategies[camStrategy] %><span class="caret"></span></button>
        <ul role="menu" class="dropdown-menu">
            <% _.each(allAssemblyStrategies, function(strategy, key){ %>
                <li><a class="assembler dropdownSelector" data-property="camStrategy" data-value="<%= key %>" href="#"><%= strategy %></a></li>
            <% }); %>
        </ul>
    </div><br/><br/>
<% if (camStrategy == "raster"){ %>
    Raster Order: &nbsp;&nbsp;<input value="<%= placementOrder %>" placeholder="Placement Order" class="form-control placementOrder" type="text"><br/><br/>
<% } %>