Parent/Child Tree:<br/>
<% _.each(components, function(component){ %>
    <label class="assemblerTree"><%= component.name %> <a data-id="<%= component.id %>" class="editMachineComponent" href="#">Edit</a></label><br/>
<% }); %><br/>
<a href="#" id="newMachineComponent" class=" btn btn-block btn-lg btn-default">+ New Machine Component</a><br/>
Stock:<br/>
<% _.each(stock, function(stockEl, id){ %>
    <label class="assemblerTree"><%= stockEl.name %> <a data-id="<%= id %>" class="edit Stock" href="#">Edit</a></label><br/>
<% }); %><br/>
<a href="#" id="addStock" class=" btn btn-block btn-lg btn-default">+ New Stock</a><br/>
Offset (xyz):&nbsp;&nbsp;
    <input data-property="translation" data-key="x" value="<%= translation.x %>" placeholder="X" class="form-control floatInput assembler" type="text">&nbsp;
    <input data-property="translation" data-key="y" value="<%= translation.y %>" placeholder="Y" class="form-control floatInput assembler" type="text">&nbsp;
    <input data-property="translation" data-key="z" value="<%= translation.z %>" placeholder="Z" class="form-control floatInput assembler" type="text"><br/><br/>
Rotation (xyz):&nbsp;&nbsp;
    <input data-property="rotation" data-key="x" value="<%= rotation.x %>" placeholder="X" class="form-control floatInput assembler" type="text">&nbsp;
    <input data-property="rotation" data-key="y" value="<%= rotation.y %>" placeholder="Y" class="form-control floatInput assembler" type="text">&nbsp;
    <input data-property="rotation" data-key="z" value="<%= rotation.z %>" placeholder="Z" class="form-control floatInput assembler" type="text"><br/><br/>
Scale: &nbsp;&nbsp;<input data-property="scale" value="<%= scale %>" placeholder="Scale" class="form-control floatInput assembler" type="text"><br/><br/>
Edit Code:<br/><br/>
Header  <a class="editMachineCode" href="#">Edit</a><br/>
Go Home <a class="editMachineCode" href="#">Edit</a><br/>
Pick up stock <a class="editMachineCode" href="#">Edit</a><br/>
Place part <a class="editMachineCode" href="#">Edit</a><br/>
Footer <a class="editMachineCode" href="#">Edit</a><br/><br/>
<a href="#" id="saveMachineToFiles" class=" btn btn-block btn-lg btn-success">Save Machine Files</a><br/>
