<% if (numCells == 0){ %>
    <div class="inlineWarning">No cells in assembly!</div>
<% } %>
Machine: &nbsp;&nbsp;
    <div class="btn-group">
        <button data-toggle="dropdown" class="btn dropdown-toggle" type="button"><%= allMachines[machineName].name %><span class="caret"></span></button>
        <ul role="menu" class="dropdown-menu">
            <% _.each(machineTypesForLattice[cellType][connectionType], function(machine){ %>
                <li><a class="assembler dropdownSelector" data-property="machineName" data-value="<%= machine %>" href="#"><%= allMachines[machine].name %></a></li>
            <% }); %>
        </ul>
    </div><br/>
    <label class="checkbox" for="relativeAssembler">
        <input id="relativeAssembler" data-property="relative" type="checkbox" <% if (allMachines[machineName].relative){ %> checked="checked"<% } %> value="" data-toggle="checkbox" class="machine custom-checkbox">
        <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
        Relative Assembler</label>
    <label class="checkbox" for="stockAttached">
        <input id="stockAttached" data-property="shouldPickUpStock" type="checkbox" <% if (allMachines[machineName].shouldPickUpStock){ %> checked="checked"<% } %> value="" data-toggle="checkbox" class="machine custom-checkbox">
        <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
        Separate Stock Position</label>
        <% if (allMachines[machineName].numMaterials > -1){ %>
            Num Materials: &nbsp;&nbsp;<%= allMachines[machineName].numMaterials %><br/>
        <% } %><br/>
Strategy: &nbsp;&nbsp;
    <div class="btn-group">
        <button data-toggle="dropdown" class="btn dropdown-toggle" type="button"><%= allAssemblyStrategies[camStrategy] %><span class="caret"></span></button>
        <ul role="menu" class="dropdown-menu">
            <% _.each(allAssemblyStrategies, function(strategy, key){ %>
                <li><a class="assembler dropdownSelector" data-property="camStrategy" data-value="<%= key %>" href="#"><%= strategy %></a></li>
            <% }); %>
        </ul>
    </div><br/><br/>
<% if (camStrategy == "raster"){ %>
    Raster Order: &nbsp;&nbsp;<input value="<%= placementOrder %>" placeholder="Placement Order" class="form-control placementOrder" type="text"><br/>
<% } %>
<% if (allMachines[machineName].numMaterials > -1 && allMachines[machineName].numMaterials < allCAMMaterialTypes.length){ %>
    <div class="inlineWarning">Number of materials in assembly exceeds available materials ( <%= allMachines[machineName].numMaterials %> ) for assembler type.</div>
<% } %>
Num Materials: &nbsp;&nbsp;<%= allCAMMaterialTypes.length %><br/>
<% _.each(allCAMMaterialTypes, function(material){ %>
    <label class="radio colorSwatches">
        <div class="materialColorSwatch">
        <div style="background-color:<% if(realisticColorScheme){ %><%= materials[material].color %><% }else{ %><%= materials[material].altColor %><% } %>"></div>
        <span><span class="materialListTitle"><%= materials[material].name %></span></span></div>
    </label>
<% }) %>