CAM output: &nbsp;&nbsp;<div class="btn-group">
        <button data-toggle="dropdown" class="btn dropdown-toggle" type="button"><%= allCamProcesses[camProcess] %><span class="caret"></span></button>
        <ul role="menu" class="dropdown-menu">
            <% _.each(camProcesses, function(process){ %>
                <li><a class="assembler dropdownSelector" data-property="camProcess" data-value="<%= process %>" href="#"><%= allCamProcesses[process] %></a></li>
            <% }); %>
        </ul>
    </div><br/><br/>
<a href="#" id="saveCam" class=" btn btn-block btn-lg btn-default">Process and Save</a><br/>
Scale: &nbsp;&nbsp;<input data-property="scale" value="<%= scale %>" placeholder="Scale" class="form-control floatInput lattice" type="text"> &nbsp;&nbsp;&nbsp;&nbsp;
Units: &nbsp;&nbsp;<div class="btn-group">
        <button data-toggle="dropdown" class="btn dropdown-toggle" type="button"><%= allUnitTypes[units] %><span class="caret"></span></button>
        <ul role="menu" class="dropdown-menu">
            <% _.each(allUnitTypes, function(unit, key){ %>
                <li><a class="lattice dropdownSelector" data-property="units" data-value="<%= key %>" href="#"><%= unit %></a></li>
            <% }); %>
        </ul>
    </div><br/><br/>
Origin (xyz):&nbsp;&nbsp;
    <input data-property="originPosition" data-key="x" value="<%= originPosition.x %>" placeholder="X" class="form-control floatInput assembler" type="text">&nbsp;
    <input data-property="originPosition" data-key="y" value="<%= originPosition.y %>" placeholder="Y" class="form-control floatInput assembler" type="text">&nbsp;
    <input data-property="originPosition" data-key="z" value="<%= originPosition.z %>" placeholder="Z" class="form-control floatInput assembler" type="text">
<% if (!(machineName == "handOfGod")){ %><br/>
    <a id="manualSelectOrigin" class=" btn btn-lg btn-default btn-imageCustom<% if (manualSelectOrigin){ %> btn-selected<% } %>"><img src="assets/imgs/cursor.png"></a>
    <label>&nbsp;&nbsp;&nbsp;Manually select origin from existing cell</label><br/><br/>
    <% if (assembler && assembler.shouldPickUpStock){ %>
        Stock (xyz): &nbsp;&nbsp;
            <input data-property="stockPosition" data-key="x" value="<%= stockPosition.x %>" placeholder="X" class="form-control floatInput assembler" type="text">&nbsp;
            <input data-property="stockPosition" data-key="y" value="<%= stockPosition.y %>" placeholder="Y" class="form-control floatInput assembler" type="text">&nbsp;
            <input data-property="stockPosition" data-key="z" value="<%= stockPosition.z %>" placeholder="Z" class="form-control floatInput assembler" type="text"><br/>
                <label class="checkbox" for="stockPosRel">
                <input id="stockPosRel" data-property="stockPositionRelative" type="checkbox" <% if (stockPositionRelative){ %> checked="checked"<% } %> value="" data-toggle="checkbox" class="assembler custom-checkbox">
                <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
            Stock position relative to Origin</label>
                <label class="checkbox" for="stockFixed">
                <input id="stockFixed" data-property="stockFixed" type="checkbox" <% if (stockFixed){ %> checked="checked"<% } %> value="" data-toggle="checkbox" class="assembler custom-checkbox">
                <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
            Fix stock relative to to Origin</label>
                <label class="checkbox" for="multipleStockPositions">
                <input id="multipleStockPositions" data-property="multipleStockPositions" type="checkbox" <% if (multipleStockPositions){ %> checked="checked"<% } %> value="" data-toggle="checkbox" class="assembler custom-checkbox">
                <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
            Multiple stock positions</label>
                <% if (multipleStockPositions){ %>
                    Stock dimensions (xy): &nbsp;&nbsp;<input data-property="stockArraySize" data-key="x" value="<%= stockArraySize.x %>" placeholder="X" class="form-control intInput assembler" type="text">&nbsp;
                        <input data-property="stockArraySize" data-key="y" value="<%= stockArraySize.y %>" placeholder="Y" class="form-control intInput assembler" type="text"><br/><br/>
                    Stock separation: &nbsp;&nbsp;<input data-property="stockSeparation" value="<%= stockSeparation %>" placeholder="X" class="form-control floatInput assembler" type="text"><br/><br/>
                <% } %>
    <% } %>
    Clearance Height (<%= units %>): &nbsp;&nbsp;
        <input data-property="rapidHeight" value="<%= rapidHeight %>" placeholder="Z" class="form-control floatInput assembler" type="text"><br/>
            <label class="checkbox" for="rapidPosRel">
            <input id="rapidPosRel" data-property="rapidHeightRelative" type="checkbox" <% if (rapidHeightRelative){ %> checked="checked"<% } %> value="" data-toggle="checkbox" class="assembler custom-checkbox">
            <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
        Clearance height relative to Origin</label>
<% } else { %><br/><br/>
    Stock Height: &nbsp;&nbsp;<input data-property="stockPosition" data-key="z" value="<%= stockPosition.z %>" placeholder="Z" class="form-control floatInput assembler" type="text"><br/><br/>
<% } %>
Approach Height  (<%= units %>): &nbsp;&nbsp;<input data-property="safeHeight" value="<%= safeHeight %>" placeholder="Z" class="form-control floatInput assembler" type="text"><br/><br/>
Speeds (<%= units %> per min):<br/><br/>
    Rapids (xy, z): &nbsp;&nbsp;<input data-property="rapidSpeeds" data-key="xy" value="<%= rapidSpeeds.xy %>" placeholder="XY" class="form-control floatInput assembler" type="text">&nbsp;
        <input data-property="rapidSpeeds" data-key="z" value="<%= rapidSpeeds.z %>" placeholder="Z" class="form-control floatInput assembler" type="text"><br/><br/>
    Feed Rate (xy, z): &nbsp;&nbsp;<input data-property="feedRate" data-key="xy" value="<%= feedRate.xy %>" placeholder="XY" class="form-control floatInput assembler" type="text">&nbsp;
        <input data-property="feedRate" data-key="z" value="<%= feedRate.z %>" placeholder="Z" class="form-control floatInput assembler" type="text">
<!--<% if (machineName == "oneBitBot") {%>Rotate Machine: &nbsp;&nbsp;<a class=" btn btn-lg btn-default btn-machineRotation btn-imageCustom"><img src="assets/imgs/clockwise.png"></a>-->
         <!--&nbsp;&nbsp&nbsp;<a class=" btn btn-lg btn-default btn-machineRotation btn-imageCustom"><img src="assets/imgs/counterClockwise.png"></a><br/><br/><% } %>-->