Name: &nbsp;&nbsp;<input id="compositeName" data-property="name" value="<%= name %>" placeholder="Enter Name" class="seventyFiveWidth form-control textInput compositeEditor" type="text"><br/><br/>
Num Cells: &nbsp;&nbsp;<%= numCells %><br/><br/>
Bounding Box: &nbsp;&nbsp;<%= dimensions.x %> x <%= dimensions.y %> x <%= dimensions.z %><br/><br/>
Display Color: &nbsp;&nbsp;
    <input id="compositeColor" style="border-color: <%= color %> ;" data-property="color" value="<%= color %>" placeholder="Enter HEX" class="halfWidth compositeEditor form-control hexInput" type="text"><br/><br/>
<a id="newRandomColor" href="#" class="btn btn-block btn-lg btn-default">New Random Color</a><br/>
Available Materials:<br/>
    <% _.each(_.keys(allMaterials[materialClass]), function(key){ %>
        <label class="radio colorSwatches">
            <input type="radio" <%if (key == materialType){ %>checked<%}%> name="materialType" value="<%= key %>" data-toggle="radio" class="custom-radio appState"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
            <div class="materialColorSwatch">
            <div style="background-color:<% if(realisticColorScheme){ %><%= allMaterials[materialClass][key].color %><% }else{ %><%= allMaterials[materialClass][key].altColor %><% } %>"></div>
            <span><%= allMaterials[materialClass][key].name %></span></div>
        </label>
    <% }); %>
<% _.each(_.keys(materials), function(key){
    <!--if (key == id || key.substr(0,5) != "super") return;-->
    <!--if (checkForLoops(key)) return;-->
    <!--function checkForLoops(_key){-->
        <!--console.log(materials[_key].compositeChildren);-->
        <!--if (materials[_key].compositeChildren) {-->
            <!--if (materials[_key].compositeChildren.indexOf(id)>0) return true;-->
            <!--var childMatches = _.filter(materials[_key].compositeChildren, function(childKey){-->
                <!--return checkForLoops(childKey);-->
            <!--});-->
            <!--if (childMatches.length>0) return true;-->
        <!--}-->
        <!--return false;-->
    <!--}-->
    %>
    <label class="radio colorSwatches">
        <input type="radio" <%if (key == materialType){ %>checked<%}%> name="materialType" value="<%= key %>" data-toggle="radio" class="custom-radio appState"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
        <div class="materialColorSwatch">
        <div style="background-color:<% if(realisticColorScheme){ %><%= materials[key].color %><% }else{ %><%= materials[key].altColor %><% } %>"></div>
        <span><%= materials[key].name %></span></div>
    </label>
<% }); %><br/>
<a id="finishComposite" href="#" class="btn btn-block btn-lg btn-success">Save Composite</a><br/>
<a id="cancelComposite" href="#" class="btn btn-halfWidth btn-lg btn-default">Cancel / Exit</a>
<a id="deleteComposite" href="#" class="btn btn-halfWidth pull-right btn-lg btn-default"><span class="fui-trash"></span> Delete</a><br/><br/>
<a id="saveComposite" href="#" class="btn btn-block btn-lg btn-default">Save Composite To File</a><br/><br/>
