Name: &nbsp;&nbsp;<input id="compositeName" data-property="name" value="<%= name %>" placeholder="Enter Name" class="seventyFiveWidth form-control textInput compositeEditor" type="text"><br/><br/>
Num Cells: &nbsp;&nbsp;<%= numCells %><br/><br/>
Bounding Box: &nbsp;&nbsp;<%= dimensions.x %> x <%= dimensions.y %> x <%= dimensions.z %><br/><br/>
Origin (xyz): &nbsp;&nbsp;<input data-property="origin" data-key="x" value="<%= origin.x %>" placeholder="X" class="form-control intInput compositeEditor" type="text">&nbsp;
            <input data-property="origin" data-key="y" value="<%= origin.y %>" placeholder="Y" class="form-control intInput compositeEditor" type="text">&nbsp;
            <input data-property="origin" data-key="z" value="<%= origin.z %>" placeholder="Z" class="form-control intInput compositeEditor" type="text"><br/><br/>
Display Color: &nbsp;&nbsp;
    <input id="compositeColor" style="border-color: <%= color %> ;" data-property="color" value="<%= color %>" placeholder="Enter HEX" class="halfWidth compositeEditor form-control hexInput" type="text"><br/><br/>
<a id="newRandomColor" href="#" class="btn btn-block btn-lg btn-default">New Random Color</a><br/>
Available Materials:<br/>
    <% _.each(_.keys(allMaterials[materialClass]), function(key){ %>
        <label class="radio colorSwatches">
            <input type="radio" <%if (key == materialType){ %>checked<%}%> name="materialType" value="<%= key %>" data-toggle="radio" class="custom-radio appState"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
            <div class="materialColorSwatch">
            <div style="background-color:<% if(realisticColorScheme){ %><%= allMaterials[materialClass][key].color %><% }else{ %><%= allMaterials[materialClass][key].altColor %><% } %>"></div>
            <span><%= allMaterials[materialClass][key].name %></span></div>
        </label>
    <% }); %>
    <% _.each(materials, function(material, key){
        if (key.substr(0,5) == "super") return;
        if (material.noDelete) return; %>
        <label class="radio colorSwatches">
            <input type="radio" <%if (key == materialType){ %>checked<%}%> name="materialType" value="<%= key %>" data-toggle="radio" class="custom-radio appState"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
            <div class="materialColorSwatch">
            <div style="background-color:<% if(realisticColorScheme){ %><%= material.color %><% }else{ %><%= material.altColor %><% } %>"></div>
            <span><%= material.name %></span></div>
        </label>
    <% }); %>
<% _.each(validCompositeMaterials, function(key){%>
    <label class="radio colorSwatches">
        <input type="radio" <%if (key == materialType){ %>checked<%}%> name="materialType" value="<%= key %>" data-toggle="radio" class="custom-radio appState"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
        <div class="materialColorSwatch">
        <div style="background-color:<% if(realisticColorScheme){ %><%= materials[key].color %><% }else{ %><%= materials[key].altColor %><% } %>"></div>
        <span><%= materials[key].name %></span></div>
    </label>
<% }); %><br/>
<a id="finishComposite" href="#" class="btn btn-block btn-lg btn-success">Save Composite</a><br/>
<a id="deleteComposite" href="#" class="btn btn-halfWidth btn-lg btn-default"><span class="fui-trash"></span> Delete</a>
<a id="cancelComposite" href="#" class="btn btn-halfWidth pull-right btn-lg btn-default">Cancel / Exit</a><br/><br/>
<a id="saveComposite" href="#" class="btn btn-block btn-lg btn-default">Save Composite To File</a><br/><br/>
