<% if(sequence32.length > 0){ %>
    32bp sequences:<br/>
    <div class="sequenceOutput">
        <% _.each(sequence32, function(seq){ %>
            <%= seq %><br/>
        <% }); %>
    </div>
<% } else { %>
    no 32bp sequences<br/><br/>
<% } %>
<% if(sequence16.length > 0){ %>
    16bp sequences:<br/>
    <div class="sequenceOutput">
        <% _.each(sequence16, function(seq){ %>
            <%= seq %><br/>
        <% }); %>
    </div>
<% } else { %>
    no 16bp sequences<br/>
<% } %><br/>
<a href="#" id="saveSequences" class="btn btn-block btn-lg btn-success">Save to File</a><br/>
