<% if(signalConflict){ %>
<div class="inlineWarning">Multiple signals are connected to the same wire, please go back to Design tab and fix conflict before running simulation.
    Problem indicated in red below.</div>
<% } %>
<% if (_.keys(wires).length > 0){ %>
    <label class="radio">
        <input type="radio" <% if (visibleWire == -2){ %>checked<% } %> name="visibleWire" value="-2" data-toggle="radio" class="custom-radio emSim"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
        Show Everything
    </label>
    <label class="radio">
        <input type="radio" <% if (visibleWire == -1){ %>checked<% } %> name="visibleWire" value="-1" data-toggle="radio" class="custom-radio emSim"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
        Show All Wires
    </label>
    <br/>
    Net List:</br>
    <% var index = 0;  _.each(wires, function(wire, id){ %>
        <label class="radio <% if(wire.signals.length > 1){ %>red<% } %>">
            <input type="radio" <% if (id == visibleWire){ %>checked<% } %> name="visibleWire" value="<%= id %>" data-toggle="radio" class="custom-radio emSim"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
            Circuit <%= ++index %> ( <%= wire.cells.length %> cell<% if (wire.cells.length > 1){ %>s<% } %> )
            <% if(wire.signals.length == 1){ %><img class="waveformIcon" src="assets/imgs/waveforms/<%= wire.signals[0].waveformType %>.png">&nbsp;&nbsp;<%= wire.signals[0].frequency %> Hz&nbsp;&nbsp;<a data-id="<%= id %>" class="editSignal">Edit Signal...</a><% } %>
        </label>
    <% }); %>
    <br/>
<% } else { %>
    No Wires
<% } %>
<% if (actuators.length>0){ %>
    Actuators ( <%= actuators.length %> ):<br/>
    <% _.each(actuators, function(actuator, index){ %>
        <label class="radio <% if(!actuator.valid){ %>red<% } %>">
            <input type="radio" <% if (visibleWire == -3 && index == visibleActuator){ %>checked<% } %> name="visibleActuator" value="<%= index %>" data-toggle="radio" class="custom-radio emSim"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
            Actuator <%= ++index %> <% if(actuator.wireIndex !== undefined){ %>( Circuit <%= actuator.wireIndex+1 %> )<% } %>
        </label>
    <% }); %>
    <br/>
<% }else{ %>
    No Actuators
<% } %>