<% if(signalConflict){ %>
<div class="inlineWarning">Multiple signals are connected to the same wire, please go back to Design tab and fix conflict before running simulation.
    Problem indicated in red below.</div>
<% } %>
<% if (_.keys(wires).length > 0){ %>
    <label class="radio">
        <input type="radio" <% if (visibleWire == -2){ %>checked<% } %> name="visibleWire" value="-2" data-toggle="radio" class="custom-radio emSim"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
        Show Everything
    </label>
    <label class="radio">
        <input type="radio" <% if (visibleWire == -1){ %>checked<% } %> name="visibleWire" value="-1" data-toggle="radio" class="custom-radio emSim"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
        Show All Wires
    </label>
    Net List:</br>
    <% var index = 0;  _.each(wires, function(wire, id){ %>
        <label class="radio <% if(wire.signals.length > 1){ %>red<% } %>">
            <input type="radio" <% if (id == visibleWire){ %>checked<% } %> name="visibleWire" value="<%= id %>" data-toggle="radio" class="custom-radio emSim"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
            Wire <%= ++index %> ( <%= wire.cells.length %> cell<% if (wire.cells.length > 1){ %>s<% } %> )
            <% if(wire.signals.length == 1){ %>&nbsp;&nbsp;&nbsp;&nbsp;<a data-id="<%= id %>" class="editSignal">Edit Signal...</a><% } %>
        </label>
    <% }); %>
    <br/>
<% } else { %>
    No Wires
<% } %>