Gravity :&nbsp;&nbsp;
    <input data-property="gravity" value="<%= gravity %>" placeholder="m/s^2" class="form-control floatInput emSim" type="text"><br/><br/>
Vector :&nbsp;&nbsp;<input data-property="gravityVector" data-key="x" data-min="-1" data-max="1" value="<%= gravityVector.x %>" placeholder="X" class="form-control emSim floatInput" type="text">&nbsp;
    <input data-property="gravityVector" data-key="y" data-min="-1" data-max="1" value="<%= gravityVector.y %>" placeholder="Y" class="form-control emSim floatInput" type="text">&nbsp;
    <input data-property="gravityVector" data-key="z" data-min="-1" data-max="1" value="<%= gravityVector.z %>" placeholder="Z" class="form-control emSim floatInput" type="text"><br/><br/>
Integration Time Step (us) :&nbsp;&nbsp;
    <input data-property="dtSolver" value="<%= dtSolver %>" placeholder="us" class="form-control floatInput emSim" type="text"><br/><br/>
Num Steps Per Render :&nbsp;&nbsp;
    <input data-property="dtRender" value="<%= dtRender %>" placeholder="frames" class="form-control intInput emSim" type="text"><br/><br/>
Ground Height :&nbsp;&nbsp;
    <input data-property="groundHeight" value="<%= groundHeight %>" placeholder="Height" class="form-control intInput emSim" type="text"><br/><br/>
<label class="checkbox" for="friction">
    <input id="friction" data-property="friction" type="checkbox" <% if (friction){ %> checked="checked"<% } %> value="" data-toggle="checkbox" class="emSim custom-checkbox">
    <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
    Friction</label>