Simulation Type: &nbsp;&nbsp;
    <div class="btn-group">
        <button data-toggle="dropdown" class="btn dropdown-toggle" type="button"><%= allMaterialClasses[materialClass] %><span class="caret"></span></button>
        <ul role="menu" class="dropdown-menu">
            <% _.each(_.keys(allMaterialClasses), function(key){ %>
                <li><a class="appState dropdownSelector" data-property="materialClass" data-value="<%= key %>" href="#"><%= allMaterialClasses[key] %></a></li>
            <% }); %>
        </ul>
    </div><br/><br/>
<a href="#" id="calcConnectivity" class="btn btn-block btn-lg btn-default"><% if(conductorGroups){ %>Re-<% } %>Calculate Connectivity</a><br/>
<% if(conductorGroups){ %>
    Num Connected Conductors: &nbsp;&nbsp<%= conductorGroups.length %><br/>
    <% if(conductorGroups.length > 0){ %>
        <label class="radio">
            <input type="radio" <% if (visibleConductorGroup < 0){ %>checked<% } %> name="visibleConductorGroup" value="-1" data-toggle="radio" class="custom-radio eSim"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
            Show All
        </label>
        <% _.each(conductorGroups, function(groupNum, index){ %>
            <label class="radio">
                <input type="radio" <% if (groupNum == visibleConductorGroup){ %>checked<% } %> name="visibleConductorGroup" value="<%= groupNum %>" data-toggle="radio" class="custom-radio eSim"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                Group Num <%= index + 1 %>
            </label>
        <% }); %>
    <% } %>
<% } %>