<% if(conductorGroups && conductorGroups.length > 0){ %>
    <label class="radio">
        <input type="radio" <% if (visibleConductorGroup < 0){ %>checked<% } %> name="visibleConductorGroup" value="-1" data-toggle="radio" class="custom-radio eSim"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
        Show All Conducting Groups
    </label>
    <% _.each(conductorGroups, function(groupData, index){ %>
        <label class="radio">
            <input type="radio" <% if (groupData.id == visibleConductorGroup){ %>checked<% } %> name="visibleConductorGroup" value="<%= groupData.id %>" data-toggle="radio" class="custom-radio eSim"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
            Group <%= index + 1 %>
            <input data-property="voltage" value="<%= groupData.voltage %>" placeholder="Voltage" class="form-control floatInput eSim voltageInput" type="text">
            <input data-property="current" value="<%= groupData.current %>" placeholder="Current" class="form-control floatInput eSim currentInput" type="text">
        </label>
    <% }); %>
<% } %>

Capacitance:<br/>

Inductance:<br/>