<% if(conductorGroups && conductorGroups.length > 0){ %>
    Simulation Resolution: &nbsp;&nbsp;<input data-property="simulationRes" value="<%= simulationRes %>" placeholder="Resolution" class="form-control intInput eSim voltageInput" type="text"><br/><br/>
    Dielectric Permittivity (k): &nbsp;&nbsp;<input data-property="dielectricPerm" value="<%= dielectricPerm %>" placeholder="k" class="form-control floatInput eSim voltageInput" type="text"><br/>
    <label class="radio">
        <input type="radio" <% if (visibleConductorGroup == -2){ %>checked<% } %> name="visibleConductorGroup" value="-2" data-toggle="radio" class="custom-radio eSim"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
        Show Everything
    </label>
    <label class="radio">
        <input type="radio" <% if (visibleConductorGroup == -1){ %>checked<% } %> name="visibleConductorGroup" value="-1" data-toggle="radio" class="custom-radio eSim"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
        Show All Conducting Groups
    </label>
    <% _.each(conductorGroups, function(groupData, index){ %>
        <label class="radio">
            <input type="radio" <% if (groupData.id == visibleConductorGroup){ %>checked<% } %> name="visibleConductorGroup" value="<%= groupData.id %>" data-toggle="radio" class="custom-radio eSim"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
            Group <%= index + 1 %>
            <input data-property="voltage" data-index="<%= index %>" value="<%= groupData.voltage %>" placeholder="Voltage" class="form-control floatInput eSimGroup voltageInput" type="text">
            <input data-property="current" data-index="<%= index %>" value="<%= groupData.current %>" placeholder="Current" class="form-control floatInput eSimGroup currentInput" type="text">
        </label>
    <% }); %>
    Units:
        <div class="btn-group" id="voltageUnits">
            <button data-toggle="dropdown" class="btn dropdown-toggle" type="button"><%= allVoltageUnits[voltageUnits] %><span class="caret"></span></button>
            <ul role="menu" class="dropdown-menu">
                <% _.each(allVoltageUnits, function(unit, key){ %>
                    <li><a class="eSim dropdownSelector" data-property="voltageUnits" data-value="<%= key %>" href="#"><%= unit %></a></li>
                <% }); %>
            </ul>
        </div>
        <div class="btn-group" id="currentUnits">
        <button data-toggle="dropdown" class="btn dropdown-toggle" type="button"><%= allCurrentUnits[currentUnits] %><span class="caret"></span></button>
        <ul role="menu" class="dropdown-menu">
            <% _.each(allCurrentUnits, function(unit, key){ %>
                <li><a class="eSim dropdownSelector" data-property="currentUnits" data-value="<%= key %>" href="#"><%= unit %></a></li>
            <% }); %>
        </ul>
    </div><br/><br/><br/>
    <!--<div class="inlineSwatch inductance"></div>Inductance:<br/><br/>-->
    Num Relaxation Steps: &nbsp;&nbsp;<input data-property="numRelaxationSteps" value="<%= numRelaxationSteps %>" placeholder="Num Steps" class="form-control floatInput eSim" type="text"><br/><br/>
    <a href="#" id="calcEField" class="btn btn-block btn-lg btn-default"><% if(electricField){ %>Re-<% } %>Calculate Electric Field</a><br/>
    <a href="#" id="calcCapacitance" class="btn btn-block btn-lg btn-default"><% if(globalCapacitance){ %>Re-<% } %>Calculate Capacitance</a><br/>
    <div class="inlineSwatch capacitance"></div>Global Capacitance:<br/><br/>
    <!--<a href="#" id="calcInductance" class="btn btn-block btn-lg btn-default"><% if(globalInductance){ %>Re-<% } %>Calculate Inductance</a><br/>-->
    Visible Field:
    <% _.each(visibleStaticSimTypes, function(simType, key){ %>
        <label class="radio">
            <input type="radio" <% if (key == visibleStaticSim){ %>checked<% } %> name="visibleStaticSim" value="<%= key %>" data-toggle="radio" class="custom-radio eSim"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
            <%= simType%>
        </label>
    <% }); %>
    Simulation Z Height: &nbsp;&nbsp;<input data-property="simZHeight" value="<%= simZHeight %>" placeholder="Height" class="form-control intInput eSim" type="text"><br/><br/>
<% } else { %>
    <div class="inlineWarning">No conductive groups detected, please navigate to previous tab and calculate.</div>
<% } %>