<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <% if (title != "" ){ %>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p class="modal-title" ><%= title %></p>
            </div>
        <% } %>
        <div class="modal-body">
            <% if (text == ""){ %>
                Need something here.
            <% } else { %>
                <%= text %>
            <% } %>
        </div>
    </div>
</div>