<li><a class="hierDropdown" data-hierlevel="element" href="#"><%if (hierLevel=="element"){ %><span class="fui-check"></span> <% } %>Element</a></li>
<li><a class="hierDropdown" data-hierlevel="function" href="#"><%if (hierLevel=="function"){ %><span class="fui-check"></span> <% } %>Function</a></li>
<li><a class="hierDropdown" data-hierlevel="module" href="#"><%if (hierLevel=="module"){ %><span class="fui-check"></span> <% } %>Module</a></li>
<li><a class="hierDropdown" data-hierlevel="system" href="#"><%if (hierLevel=="system"){ %><span class="fui-check"></span> <% } %>System</a></li>