<!--<div class="col-sm-4"><a href="#" id="loadScript" class=" btn btn-lg btn-block btn-default">Load Script</a></div>-->
<!--<div class="col-sm-4"><a href="#" id="runScript" class=" btn btn-lg btn-block btn-default">Run Script&nbsp&nbsp&nbsp(CTRL/&#8984; + R)</a></div>-->
<div><%= scriptName %>
    <div class="pull-right">
        <a href="#" id="hideScript" class="btn btn-lg btn-default">Hide</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" id="saveScript" class=" btn btn-lg btn-success">Save Script</a>
    </div>
</div><br/>
<% if (errorMsg){ %>
    <div class="inlineWarning">
        Error: <%= errorMsg %>
    </div>
<% } %>
<!--<br/><br/>-->
<textarea id="scriptEditor"><%= script %></textarea><br/>