Selection Plane Orientation:&nbsp;&nbsp;<div class="btn-group">
        <button data-toggle="dropdown" class="btn dropdown-toggle" type="button"><%= allBaseplaneTypes[planeType] %><span class="caret"></span></button>
        <ul role="menu" class="dropdown-menu">
            <% _.each(allBaseplaneTypes, function(val, key){ %>
                <li><a class="baseplane dropdownSelector" data-property="planeType" data-value="<%= key %>" href="#"><%= val %></a></li>
            <% }); %>
        </ul>
    </div><br/><br/>
Selection Plane Height:&nbsp;&nbsp;<input data-property="zIndex" value="<%= zIndex %>" placeholder="us" class="form-control intInput baseplane" type="text"><br/>
 <label class="checkbox" for="showOneLayer">
    <input id="showOneLayer" data-property="showOneLayer" type="checkbox" <% if (showOneLayer){ %> checked="checked"<% } %> value="" data-toggle="checkbox" class="appState custom-checkbox">
    <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
    Show one layer at a time</label>
<label class="checkbox" for="orientationFlipped">
    <input id="orientationFlipped" data-property="orientationFlipped" type="checkbox" <% if (orientationFlipped){ %> checked="checked"<% } %> value="" data-toggle="checkbox" class="baseplane custom-checkbox">
    <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
    Flip orientation</label>
<br/>
Material Visibility:
<% _.each(_.keys(allMaterials[materialClass]), function(key){ %>
    <% var material = materials[key];%>
<label class="checkbox colorSwatches materialVisibility">
    <input data-id="<%= key %>" data-property="transparent" type="checkbox" <% if (!material.transparent){ %> checked="checked"<% } %> value="" data-toggle="checkbox" class="material custom-checkbox">
    <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
    <!--<input data-property="<%= key %>" type="checkbox" <% if (material.hidden){ %> checked="checked"<% } %> value="" data-toggle="checkbox" class="leftOffset custom-checkbox">-->
    <!--<span class="leftOffset icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>-->
    <div class="materialColorSwatch">
    <div style="background-color:<% if(realisticColorScheme){ %><%= material.color %><% }else{ %><%= material.altColor %><% } %>">
        <% if (material.texture) {%><img src="assets/textures/<%= material.texture %>Thumb.png"><% } %>
    </div>
    <span><span class="materialListTitle"><%= material.name %></span></span></div>
</label>
<% }); %>
<% _.each(materials, function(material, key){ %>
    <% if(material.noDelete) return; %>
<label class="checkbox colorSwatches materialVisibility">
    <input data-id="<%= key %>" data-property="transparent" type="checkbox" <% if (!material.transparent){ %> checked="checked"<% } %> value="" data-toggle="checkbox" class="material custom-checkbox">
    <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
    <!--<input data-property="<%= key %>" type="checkbox" <% if (material.hidden){ %> checked="checked"<% } %> value="" data-toggle="checkbox" class="leftOffset custom-checkbox">-->
    <!--<span class="leftOffset icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>-->
    <div class="materialColorSwatch">
        <div style="background-color:<% if(realisticColorScheme){ %><%= material.color %><% }else{ %><%= material.altColor %><% } %>"></div>
        <span><span><%= material.name %></span></span></div>
</label>
<% }); %>